#buttonItems {
 float: left;
 clear: left;
}

.tasks {
 margin-top: 1px;
}

.taskCheckBox {
 margin-top: 12px;
 float: left;
 -ms-transform: scale(1.3); /* IE */
  -moz-transform: scale(1.3); /* FF */
  -webkit-transform: scale(1.3); /* Safari and Chrome */
  -o-transform: scale(1.3); /* Opera */
  padding: 10px;
}

.taskData {
 margin-left: 15px;
 height: 35px;
 resize:none;
}

.taskFinished {
 text-decoration: line-through;
 font-style: oblique;
}

.taskUnfinished {
 text-decoration: none;
 font-style: inherit;
}
